@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
        url('../assets/fonts/recoleta/Recoleta-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/recoleta/Recoleta-SemiBold.woff') format('woff'),
        url('../assets/fonts/recoleta/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #161620;
        --background-secondary: #242933;
        --background-tertiary: #2e3440;
        --foreground-primary: #eceff4;
        --foreground-secondary: #d8dee9;
        --foreground-tertiary: #4c566a;
        --accent-primary: #5e81ac;
        --accent-secondary: #ebcb8b;
        color-scheme: dark;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-primary: #eceff4;
        --background-secondary: #e5e9f0;
        --background-tertiary: #d8dee9;
        --foreground-primary: #2e3440;
        --foreground-secondary: #3b4252;
        --foreground-tertiary: #434c5e;
        --accent-primary: #5e81ac;
        --accent-secondary: #ebcb8b;
        color-scheme: light;
    }
}

::selection {
    background-color: var(--accent-primary);
    color: var(--foreground-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

button {
    user-select: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Recoleta', sans-serif;
    color: var(--foreground-primary);
    line-height: 120%;
    letter-spacing: 0;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2.75rem;
}

p {
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--foreground-secondary);
    font-family: 'Inter', sans-serif;
}

svg {
    fill: none;
    stroke: var(--foreground-primary);
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 24px;
    height: 24px;
}
