.wrapper {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    position: fixed;
}

.header {
    width: clamp(320px, 100%, 1200px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    cursor: default;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
}

.title span {
    display: inline-block;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navLink {
    position: relative;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 400;
    user-select: none;
}

.navLinkBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: var(--background-tertiary);
    z-index: -1;
}

.menuToggle > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.menuToggle > div > div {
    width: 1.5rem;
    height: 0.1rem;
    background: var(--foreground-primary);
}
