.wrapper {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    position: fixed;
    pointer-events: none;
}

.header {
    width: clamp(320px, 100%, 1200px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    cursor: default;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    pointer-events: all;
}

.title span {
    display: inline-block;
}

.navList,
.navListMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    pointer-events: all;
}

.navListMenu {
    flex-direction: column;
    gap: 0.5rem;
}

.navLink,
.navLinkMenu {
    position: relative;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 400;
    user-select: none;
}

.navLinkMenu {
    display: relative;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.navLinkBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: var(--background-tertiary);
    z-index: -1;
}

.navLinkMenuTooltip {
    white-space: nowrap;
    position: absolute;
    right: 250%;
    top: 50%;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.75rem;
    letter-spacing: normal;
    text-transform: none;
    pointer-events: none;
}

.menu {
    border-radius: 100vw;
    width: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: calc(25% - 0.5rem);
    padding: 1rem 0;
}

.menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
